* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-page {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url("/houses-hogwarts.jpg");
  background-size: cover;

  .app-superposition {
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 100vh;
    min-width: 100vw;

    .button-next-quest {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 40px;
      border-radius: 10px;
      border: 1px solid silver;

      color: rgb(32, 32, 32);
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-right: 20px;
      margin-top: 10px;
      cursor: pointer;
      background: linear-gradient(
        -30deg,
        rgb(231, 20, 20),
        rgb(248, 178, 49),
        seagreen,
        rgb(76, 76, 158)
      );
      background-size: 200% 200%;
      animation:
        wave 5s ease infinite,
        scaleChange 3s ease-in-out infinite;
      transition: transform 0.3s ease;
    }
  }
}

@keyframes wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes scaleChange {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
