.homeAdmin-page {
  background-image: url("/letter-hogwarts.jpg");
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  .questions-element {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2.5rem;
    padding: 2.5rem;
  }
}
// TODO corriger le scroll horizontal
