@import "app";

@import "question";

@import "score";

@import "answersButton";

:root {
  --button-color: rgb(32, 32, 32);
  --font-text: "Freehand", cursive;
  --font-title: "Jolly Lodger", system-ui;
}
