.question-space {
  height: 12rem;
  width: 15rem;
  border: 1px solid rgba(255, 255, 255, 1.5);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
  .butCard-cont {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    .button-card-container {
      .button-card {
        border: none;
        background-color: transparent;
        padding: 2px;
        img {
          height: 1.5rem;
        }
      }
    }
  }
  .quest-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      text-align: center;
      text-decoration: none;
      .question-card-container {
        .question-card {
          color: rgb(99, 34, 34);

          font-family: "Jolly Lodger", system-ui;
          font-weight: 400;
          font-size: 1.5rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: pre-wrap;
          width: 12rem;
        }
      }
    }
  }
}
